.contact-n-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
    .contact-n-container {
        padding: 10px;
    }
}

#contact-n-buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  /* 讓按鈕能換行，如果容器寬度不足 */
}

.contact-n-button {
    margin: 5px 10px;
    padding: 8px 15px;
    background-color: rgb(81, 134, 29);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.2em;
}

.contact-n-button:hover {
    background-color: rgb(56, 91, 20);
}

.contact-n-accordion {
    background-color: rgb(81, 134, 29); /* Material Design 主色 */
    color: white;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 8px 0; /* 增加間隙 */
}

.contact-n-active, .contact-n-accordion:hover {
    background-color: rgb(56, 91, 20); /* Material Design 深色主色 */
}

.contact-n-panel {
    padding: 0 10px;
    display: none;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加陰影 */
}

.contact-n-table {
    width: 100%;
    border-collapse: collapse;
}

.contact-n-table th, 
.contact-n-table td {
    padding: 15px; /* 增加每個單元格的間距 */
    text-align: left; /* 文字左對齊 */
    font-size: 14px; /* 調整字型大小 */
}

.contact-n-table tr:nth-child(odd) {
    background-color: rgba(236, 239, 241, 0.5); /* 淡灰色背景 for odd rows */
}

/* 如果您不想要表格的邊框 */
.contact-n-table, 
.contact-n-table th, 
.contact-n-table td {
    border: none;
}

.contact-n-th {
    background-color: #ECEFF1; /* 淺灰色背景 */
    color: #333; /* 深灰色文字 */
    padding: 8px 12px;
}

.contact-n-table tr:nth-child(odd) {
    background-color: rgba(236, 239, 241, 0.5); /* 淺灰色背景並淡化 50% */
}

.contact-n-link {
    color: rgb(81, 134, 29); /* Material Design 主色 */
    text-decoration: none;
}

.contact-n-link:hover {
    text-decoration: underline;
}

/* 移除 table 的邊框 */
.contact-n-table, .contact-n-th, .contact-n-td {
    border: none;
}

.contact-n-td {
    padding: 8px 12px;
    color: #333;
}
